.app-bikes {
    .bike {
        figure {
            max-height: 50%;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            @media (orientation:landscape) {
                max-height: inherit;
            }

            @media (min-width: 992px) {
                max-height: inherit;
            }

            .manufacture-brand {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }
        }
        &.vintage-middle {
            figure {
                .bg-top {
                    width: 50%;

                    @include media-breakpoint-up(lg) {
                        width: 100%;
                    }
                }
            }
        }

        article {
            header {
                padding: 3rem;
                max-width: 370px;
                position: relative;

                &::after {
                    content: "";
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    transform: translate(-50%, -3px);
                    left: 50%;
                    bottom: -3rem;
                    z-index: 10;
                    background-color: transparent;
                    border: 1.5rem solid transparent;
                    border-top-color: $white;
                }

                p {
                    position: relative;

                    &::after {
                        content: "";
                        width: 80px;
                        height: 1px;
                        background-color: $hr-color;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        bottom: -1.3rem;
                        left: 50%;
                        z-index: 10;
                    }
                }
            }

            .bottom-img {
                width: 100%;
            }
        }


        @include media-breakpoint-up(lg) {
            display: grid;

            &.vintage-right {
                grid-template-columns: 2fr 1fr;

                figure {
                    background-image: url(../../../../assets/images/bg-bike1.png);
                }
            }
            &.vintage-left {
                grid-template-columns: 1fr 2fr;

                figure {
                    background-image: url(../../../../assets/images/bg-bike2.png);
                }
            }
            &.vintage-middle {
                grid-template-columns: 1fr 1fr 1fr;

                figure {
                    &:first-child {
                        background-image: url(../../../../assets/images/bg-bike3.png);
                    }
                    &:last-child {
                        background-image: url(../../../../assets/images/img-bike.png);
                    }
                }
            }
        }
    }
}