body {
    font-family: 'Lato';
    font-weight: 400;
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;

        > span {
            font-weight: 300;
        }
    }

    max-width: 1500px;
    margin: 0 auto;

    color: $text-darken;

    p, span, h3 {
        color: $text-light;
    }

    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
    }

    img {
        max-width: 100%;
    }
}