
$color-primary: #64C29E;
$color-secondary: #282F35;
$white: #fff;

$grayscale-100: #F7F7F7;
$grayscale-200: #D3D7D9;
$grayscale-300: #848789;

$hr-color: $grayscale-200;

$bg-light: $grayscale-100;
$bg-darken: $color-secondary;

$text-light: $grayscale-300;
$text-darken: $color-secondary;

$indicator: $grayscale-200;
$indicator-active: $grayscale-300;

$bg-overlay: $color-primary;
